{% comment %}

Необязательные: addend, button_text

{% include 'carts/parts/add_to_cart_form.html' with goods_id=goods.id referer=request.get_full_path addend=-1 button_text="+" %}

{% endcomment %}



<form id="to-cart-form" class="to-cart-form" method="post" action="{% url 'add-to-cart' %}">
    {% csrf_token %}
    <input type="hidden" name="goods_id" value="{{ goods_id }}">
    <input type="hidden" name="addend" value="{{ addend|default:'1' }}">
    <button id="to-cart-button" style="min-width: 2.5em;" class="btn btn-primary">{{ button_text|default:"В корзину" }}</button>
</form>