{% extends "general/parts/base.html" %}
{% load static %}


{% block content %}

{% include 'general/parts/h.html' with h='О нас' %}


<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis"><img class="me-2 pb-1" style="width: 1em;"
                                                            src="{% static 'companies/img/logo.svg' %}" alt="Лого">Мир
        цветов</h1>
    <p class="fs-5 text-body-secondary">Каждому жителю по цветку</p>
</div>

{% include 'companies/slider.html' %}

{% endblock %}