{% extends 'general/parts/base.html' %}
{% load static %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if object_list %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Наименование</th>
            <th class="text-center" scope="col">Цена</th>
            <th class="text-center" scope="col"></th>
            <th class="text-center" scope="col">Количество</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.goods.name }}</td>
            <td class="text-center">{{ obj.goods.price }}</td>
            <td class="text-center">{% include "carts/plus_minus.html" with data_goods="{{ obj.goods.id }}" %}</td>
            <td class="text-center">{{ obj.quantity }}</td>
        </tr>
        {% endfor %}

        <tr>
            <td class="bg-secondary bg-gradient" colspan="2">Сумма, руб.</td>
            <td class="bg-secondary bg-gradient text-center">{{ total }}</td>
            <td class="bg-secondary bg-gradient"></td>
        </tr>

        </tbody>
    </table>
</div>
{% else %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">В корзине пока пусто</h1>
</div>

{% endif %}

{% include 'carts/parts/order.html' with object_list=object_list %}

{% endblock %}