{% extends 'general/parts/base.html' %}


{% block content %}


{% include 'general/parts/message.html' %}

<div class="card text-center">
    <div class="card-header">
        <img class="w-100 img-fluid" src="{{ object.photo.url }}" alt="{{ object.name }}"/>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ object.name }}</h5>
        <p class="card-text fw-bold"><span>Артикул: </span>{{ object.id }}</p>
        <p class="card-text fw-bold"><span>Цена: </span>&#8381; {{ object.price }}</p>
        <p class="card-text fw-bold"><span>В наличии: </span>{{ object.stock }} шт.</p>
        <p class="card-text"><span>Страна-производитель: </span>{{ object.origin }}</p>
        <p class="card-text"><span>Вид товара: </span>{{ object.category }}</p>
        <p class="card-text"><span>Цвет: </span>{{ object.color }}</p>

    </div>

    {% if user.is_authenticated %}
    <div class="card-footer text-body-secondary">
        {% include 'carts/parts/add_to_cart_form.html' with goods_id=object.id referer=request.get_full_path %}
        {% include 'carts/parts/are_there_enough_goods.html' %}
    </div>
    {% endif %}
</div>
{% endblock %}