{% extends 'general/parts/base.html' %}
{% load cart_extras %}


{% block content %}
{% cart_script user %}
<div class="card text-center">
    <div class="card-header">
        <img class="w-100" src="{{ object.photo.url }}" alt="{{ object.name }}"/>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ object.name }}</h5>
        <p class="card-text fw-bold"><span>Цена: </span>&#8381; {{ object.price }}</p>
        <p class="card-text fw-bold"><span>В наличии: </span>{{ object.stock }} шт.</p>
        <p class="card-text"><span>Страна-производитель: </span>{{ object.origin }}</p>
        <p class="card-text"><span>Вид товара: </span>{{ object.category }}</p>
        <p class="card-text"><span>Цвет: </span>{{ object.color }}</p>

    </div>

    {% include 'goods/parts/message.html' %}


    {% if user.is_authenticated %}
    <div class="card-footer text-body-secondary">
        {% include 'goods/parts/add_to_cart_form.html' with user_id=user.id goods_id=object.id referer=request.get_full_path %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
    {% url 'is-enough-in-stock' as the_url %}
    {% include 'goods/parts/is_enough_in_stock.html' with is_enough_in_stock_url=the_url %}
{% endblock %}