{% extends 'general/parts/base.html' %}
{% load static %}


{% block content %}
<main>

    {% include 'general/parts/h.html' with h='Каталог товаров' %}

    {% include 'general/parts/message.html' %}

    <div class="mb-5">
        <form action="{% url 'goods-list' %}">
            <table>
                {{ sort_filter_form.as_table }}
            </table>
            <button>Показать</button>
        </form>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for object in page_obj %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <a class="n-text-decoration-none" href="{{ object.get_absolute_url }}">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal"><img class="w-100 img-fluid" src="{{ object.photo.url }}"
                                                        alt="{{ object.name }}"/></h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ object.name }}</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li class="card-text fw-bold"><span>Артикул: </span>{{ object.id }}</li>
                            <li><span class="fw-bold">Цена: </span>&#8381; {{ object.price }}</li>
                            <li class="mb-3"><span>В наличии: </span>{{ object.stock }} шт.</li>
                            <li><span class="fw-bold">Категория/Вид товара: </span>{{ object.category }}</li>
                            <li><span class="fw-bold">Цвет: </span>{{ object.color }}</li>
                            <li><span class="fw-bold">Страна-производитель: </span>{{ object.origin }}</li>
                            <li><span class="fw-bold">Поступил в продажу: </span>{{ object.added }}</li>
                        </ul>
                    </div>
                </a>

                {% if user.is_authenticated %}
                <div class="card-footer py-3">
                    {% include 'carts/parts/add_to_cart_form.html' with user_id=user.id goods_id=object.id referer=request.get_full_path button_text='В корзину' %}
                    {% include 'carts/parts/are_there_enough_goods.html' %}
                </div>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <div class="display-6 text-center mb-4">Нет товаров.</div>
        {% endfor %}
    </div>

    {% include 'general/parts/pagination.html' %}


</main>

{% endblock %}