{% extends 'general/parts/base.html' %}

{% block content %}
<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for object in object_list %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <a class="n-text-decoration-none" href="{{ object.get_absolute_url }}">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal"><img class="w-100" src="{{ object.photo.url }}"
                                                        alt="{{ object.name }}"/></h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ object.name }}</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><span class="fw-bold">Цена: &#8381; </span>{{ object.price }}</li>
                            <li><span class="fw-bold">Вид товара: </span>{{ object.type }}</li>
                            <li><span class="fw-bold">Цвет: </span>{{ object.color }}</li>
                            <li><span class="fw-bold">Упаковка: </span>{{ object.package }}</li>
                            <li><span class="fw-bold">Страна-производитель: </span>{{ object.origin }}</li>
                            <li><span class="fw-bold">Дополнительная инормация: </span>{{ object.extra }}</li>
                        </ul>
                    </div>
                </a>
                <div class="card-footer py-3">
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</main>

{% endblock %}